In [46]:
import pandas as pd 
import numpy as np
#Importing the packages we will be working with, pandas for data analysis and exploration, NumPy for data manipulation
#matplotlib.pyplot and seaborn are for visualization

In [89]:
# Loadind the dataset
df = pd.read_csv('/Users/hadyelhossary/Downloads/DataViz_Project/tmdb-movies.csv')
# Checking for a random sample of 7 records
# df.sample(7)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [91]:
df.drop_duplicates(inplace=True)
df = df[(df.budget_adj != 0) & (df.revenue_adj != 0)]
df.drop(columns=['popularity','homepage','tagline','keywords','overview','budget','revenue','production_companies'],axis=1,inplace=True)
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_day'] = df['release_date'].dt.day
df['release_month'] = df['release_date'].dt.month
df.drop(columns='release_date',inplace=True,axis=1)
df.dropna(axis=0,inplace=True)

In [92]:
def count(dataframe):
    """This function recives the dataframe as a parameter and seprates the cast column by the seperator '|' an counts the occurence of each actor and return a series of the actors and how frequent they appear in the series"""
    #concatenate all the rows of the genres
    data_plot = df[dataframe].str.cat(sep = '|')
    data = pd.Series(data_plot.split('|'))
    #counts each of the genre.
    info = data.value_counts(ascending=False)
    return info

In [93]:
df = df.rename(columns={'original_title':'title'})

In [94]:
dff = pd.read_csv('/Users/hadyelhossary/Downloads/DataViz_Project/netflix_titles.csv')

In [95]:
df3 = pd.merge(df,dff, on=['title','director'],how='left')

In [96]:
data_plot = df3['genres'].str.cat(sep = '|')
df3['genres'] = pd.Series(data_plot.split('|'))

In [97]:
data_plot = df3['country'].str.cat(sep = ',')
df3['country'] = pd.Series(data_plot.split(','))

In [98]:
df3.country = df3.country.str.lstrip()

In [99]:
df3.country.value_counts()

United States           418
United Kingdom           80
Germany                  35
France                   33
Canada                   30
Australia                15
India                     8
Italy                     7
China                     6
Japan                     6
Ireland                   6
Mexico                    5
Czech Republic            4
Belgium                   4
New Zealand               4
Hong Kong                 4
Spain                     3
United Arab Emirates      3
Russia                    3
South Africa              2
Norway                    2
Malta                     2
Sweden                    2
Denmark                   2
Netherlands               1
Bahamas                   1
Greece                    1
East Germany              1
West Germany              1
South Korea               1
Switzerland               1
Israel                    1
Chile                     1
Liechtenstein             1
Name: country, dtype: int64

In [84]:
data_plot2 = df3['director'].str.cat(sep = ',')
df3['director'] = pd.Series(data_plot2.split(','))

In [65]:
data_plot3 = df3['director'].str.cat(sep = '|')
df3['director'] = pd.Series(data_plot3.split('|'))

In [100]:
df3['director'] = dff['director'].str.lstrip()
df3['director'].value_counts()

Steven Spielberg     27
Clint Eastwood       24
Ridley Scott         21
Woody Allen          18
Steven Soderbergh    17
                     ..
Adam Marcus           1
Desmond Davis         1
Ken Loach             1
Gregory Poirier       1
Jonathan Newman       1
Name: director, Length: 1710, dtype: int64

In [101]:
df3_cleaned = df3[df3['genres'].notna()]

In [117]:
df3_cleaned = df3_cleaned.drop(['release_year_y','show_id','type','cast_y','date_added','release_year_y','rating','listed_in','description',"duration"], axis = 1)

In [124]:
df3_cleaned = df3_cleaned.drop(['duration'], axis = 1)

In [126]:
df3_cleaned.to_csv('/Users/hadyelhossary/Downloads/DataViz_Project/cleaned2.csv')

In [130]:
df3_cleaned.head(10)

,id,imdb_id,title,cast_x,director,runtime,genres,vote_count,vote_average,release_year_x,budget_adj,revenue_adj,release_day,release_month,country
0,135397,tt0369610,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action,5562,6.5,2015,1.379999e+08,1.392446e+09,9,6,United Kingdom
1,76341,tt1392190,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,120,Adventure,6185,7.1,2015,1.379999e+08,3.481613e+08,13,5,United States
2,262500,tt2908446,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,119,Science Fiction,2480,6.3,2015,1.012000e+08,2.716190e+08,18,3,United States
3,140607,tt2488496,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,136,Thriller,5292,7.5,2015,1.839999e+08,1.902723e+09,15,12,South Africa
4,168259,tt2820852,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action,2947,7.3,2015,1.747999e+08,1.385749e+09,1,4,United States
5,281957,tt1663202,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,156,Adventure,3929,7.2,2015,1.241999e+08,4.903142e+08,25,12,Ireland
6,87101,tt1340138,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,125,Science Fiction,2598,5.8,2015,1.425999e+08,4.053551e+08,23,6,Canada
7,286217,tt3659388,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,141,Thriller,4572,7.6,2015,9.935996e+07,5.477497e+08,30,9,United Kingdom
8,211672,tt2293640,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,91,Adventure,2893,6.5,2015,6.807997e+07,1.064192e+09,17,6,United States
9,150540,tt2096673,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,94,Science Fiction,3935,8.0,2015,1.609999e+08,7.854116e+08,9,6,United Kingdom